/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

.loading {min-height: 350px; background: #111 url('../images/379.gif') no-repeat center center !important; /* Important needed */}

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
/*.flexslider {  position: relative; margin-bottom:-10px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;  padding:0em 0em 0.0em 0em;  /*background: #13140f; background: url(../images/bg/bg-noise.png),-webkit-linear-gradient(top,#13140f 0,#222 100%); background:url(../images/bg/binding_dark.png) repeat; */ /*background:#fff;}*/
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1;}
.carousel li { margin-right: 5px; }

/*p.caption{ position: absolute; left:50 !important; right:50 !important; bottom:300px; background: transparent; z-index:20000; padding:10px; font-size: 56px !important; font-family: 'hero_lightlight', sans-serif; line-height: 70px; color: #fff;}

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 45%; z-index: 1000; overflow: hidden;  cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; text-indent:-9999px; opacity:1;}
.flex-direction-nav .flex-prev { left: 0px; }
.flex-direction-nav .flex-next { right: 0px; text-align: right; }
.flexslider .flex-prev { opacity: 0.7; left: 0px; background:#000 url(../images/icons/backward.png) no-repeat center center; width:60px; height:72px;  }
.flexslider .flex-next { opacity: 0.7; right: 0px;background:#000 url(../images/icons/forward.png) no-repeat center center; width:60px; height:72px;  }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { /*opacity: 0!important; filter:alpha(opacity=0); cursor: default; */}

.flexslider .flex-prev,
.flexslider .flex-next
{
opacity: 0.6 !important;
}

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 300px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 16px; height: 16px; display: block; background: #fff; background: rgba(255,255,255,1); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); border: 1px solid #2d927b; }
.flex-control-paging li a:hover { background: #fff; background: rgba(4,121,100,1); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(4,121,100,1); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1;}
  .flex-direction-nav .flex-next { opacity: 1;}
}

/*@media only screen and (max-width: 768px) {
.flexslider .flex-prev { opacity: 0.7; left: 0px; background:#000 url(../images/icons/backward-2.png) no-repeat center center; width:40px; height:52px;  }
.flexslider .flex-next { opacity: 0.7; right: 0px;background:#000 url(../images/icons/forward-2.png) no-repeat center center; width:40px; height:52px;  }
}*/
