/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

@font-face {
    font-family: 'heroregular';
    src: url('../fonts/hero-webfont.eot');
    src: url('../fonts/hero-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hero-webfont.woff2') format('woff2'),
         url('../fonts/hero-webfont.woff') format('woff'),
         url('../fonts/hero-webfont.ttf') format('truetype'),
         url('../fonts/hero-webfont.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hero_lightlight';
    src: url('../fonts/hero_light-webfont.eot');
    src: url('../fonts/hero_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hero_light-webfont.woff2') format('woff2'),
         url('../fonts/hero_light-webfont.woff') format('woff'),
         url('../fonts/hero_light-webfont.ttf') format('truetype'),
         url('../fonts/hero_light-webfont.svg#hero_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

  *
  {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  body
  {
    font-family: 'heroregular', sans-serif;
    font-weight: 400;
    background: #ffffff;
    color: #313534;
    font-size: 12px;
	  line-height: 1.8em;
  }
  
  h1, h2, h3, h4, h5, h6, h7
  {
    font-family: 'heroregular', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #262626;
  }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h7 a
  {
    text-decoration: none;
    color: inherit;
  }
	
  .paddingl0 {
		padding-left: 0px;
	}

  .paddingl5 {
    padding-left: 5px;
  }
  
  .paddingr0 {
		padding-right: 0px;
	}

  .paddingb15 {
    padding-bottom: 15px;
  }

  hr {
    border-color: #415461;
  }
  
  a
  {
    color: #18642d;
    text-decoration: underline;
  }

    a:hover
    {
      text-decoration: none;
    }
      
  br.clear
  {
    clear: both;
  }
  
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

.top-header {
  z-index: 20000;
  padding-top: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#logo{
    width: 338px;
    height: 48px;
    background: url('../imgs/logo.png') no-repeat center;
    background-size: 100%;
}

a#logo {
  text-indent: -9999px;
}

.lower-header {
  z-index: 10000;
  position: absolute;
  padding-top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

select.language {
  padding: 8px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: #f3f3f3 !important;
  margin-right: 10px;
}

.menu-btn {
  display: none;
}

a.search-icon {
  color: #ffffff;
  font-size: 16px;
}

span.search-input input {
  padding: 6px 0px 6px 8px;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.search-input {
  display: none;
}

a.menu-btn {
  color: #fff;
  font-size: 30px;
  padding-top: 3px;
}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

 ul#mainMenu {
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 18px;
   padding-top: 30px;
 }

.nav li a {
   color: #fff;
   text-decoration: none;
 }

 .nav li a:first-child {
   padding-left: 0px;
   padding-right: 44px;
 }

 .nav li a:hover {
   text-decoration: underline;
   background-color: transparent !important;
 }

 .inner-page-header ul#mainMenu {
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 18px;
   padding-top: 30px;
 }

 .inner-page-header .nav li a {
   color: #292929;
 }

 .inner-page-header .menu-btn {
   color: #292929;
   padding-top: 3px;
 }

 .inner-page-header a.search-icon {
  color: #333;
  font-size: 16px;
 }

/*********************************************************************************/
/* Slider                                                                        */
/*********************************************************************************/

.home-slider {
  z-index: 1;
}

.flexslider:after {
    background: linear-gradient(to bottom, rgba(37, 37, 37, 1), rgba(255, 255, 255, 0.0000));
    top: 0;
    left: 0;
    width:100%;
    height:90%;
    content: " ";
    position: absolute;
    padding-top: 50px;
}

.hero-title {
  width: 100%;
  background: transparent;
  position: absolute;
  padding: 20px 0;
  z-index: 10;
  bottom: 500px;
  left: 0;
  text-align: center;
}

.hero-title p {
  color: #fff;
  font-size: 56px !important; 
  font-family: 'hero_lightlight', sans-serif; 
  line-height: 70px; 
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

  footer
  {
	 background-color: #283b49;
	 color: #979a9b;
	 text-align: left;
    padding-top: 50px;
  }

  #footer p {
    font-size: 14px;
  }

  #footer h6 {
	 margin-top: 0px;
	 color: #fff;
	 text-transform: uppercase;
    font-size: 16px;
	}
  
  #footer a {
	 color: #979a9b;
	 text-decoration: none;
    font-size: 14px;
	}

  #footer a:hover {
    color: #ffffff;
  }

  .footer-icon {
    padding-right: 10px;
  }

  .popolare {
    padding-left: 40px;
  }

  .contact {
    border-left: 1px solid #415461;;
  }
  
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

  .copyright
  {
    font-family: 'Lato', Arial, sans-serif;
    padding-top: 50px;
  }

  .copyright p
  {
    font-size: 12px;
  }
  

/*********************************************************************************/
/* Homepage                                                                      */
/*********************************************************************************/

/*.latest-funds {
  background-color: #524d4b;
}*/

.latest-funds {
  width: 100%;
  background: rgba(51,51,51,0.8);
  position: absolute;
  /*padding: 20px 0;*/
  z-index: 10;
  bottom: 70px;
  left: 0;
  text-align: center;
}

.latest-funds h3 {
  color: #fff;
  font-size: 21px;
  margin-bottom: 15px;
}

.latest-funds p a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding-top: 20px;
}

.block1 {
	background-color: #fff;
	text-align: center;
	padding: 80px 80px;
}

.block1 p {
	color: #060606;
	font-size: 20px;
  margin-bottom: 30px;
	}

  .welcome-arrow {
    padding-left: 5px;
    margin-top: -3px;
  }

.block1 h3 {
	color: #424242;
	font-size: 48px;
	text-transform: none;
	margin-bottom: 50px;
	}

.block1 a {
	text-transform: uppercase;
	color: #424242;
  font-size: 18px;
	}

.block2 {
	background-color: #a6c1bc;
}

.block2 h6 {
	color: #18642d;
	font-size: 18px;
  padding-top: 60px;
	}
	
.block2 h2 {
	color: #424242;
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 30px;
	}
		
.block2 p {
	font-size: 16px;
	color: #424242;
	}
			
.block2 a {
	color: #0c511f;
	text-transform: uppercase;
	font-size: 16px;
	}

.block3 {
	padding: 90px 90px;
	}
					
.block3 h4 {
	color: #262626;
	font-size: 18px;
  padding-top: 20px;
	}
						
.block3 p {
	font-size: 12px;
	color: #262626;
	}
							
.block3 a {
	color: #0c511f;
	text-transform: uppercase;
	font-size: 14px;
	}

.block4 {
	background-color: #12242e;
	padding: 10px 10px;
	}

.block4 h5 {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 0px;
	}

.block4 p {
	font-size: 12px;
	color: #fff;
	}

.notice-img {
  padding-top: 15px;
}

.arrow {
  /*width: 10%;
  height: 10%;
  margin-left: -62px;
  display: inline-block;*/
  position: absolute;
  bottom: 100px;
  left: -100px;
  border-top: 48px solid transparent;
  border-bottom: 48px solid transparent;
  border-right: 48px solid #a6c1bc;
}

/*********************************************************************************/
/* Inner Page                                                                    */
/*********************************************************************************/

.hero {
  margin-top: 140px;
}

div.hero{  
    float:left;  
    position:relative;  
}

.hero-description-products {
  width: 100%;
  background: transparent;
  position: absolute;
  padding: 20px 0;
  z-index: 10;
  bottom: 80px;
  left: 0;
  text-align: left;
} 

/*div.description{  
    position:absolute;   
    bottom:120px;  
    left:380px;  
    width:60%;   
    background-color: #000;  
    font-family: 'hero_lightlight', sans-serif;  
    font-size:65px;  
    line-height: 70px;
    color:white;  
    opacity:0.8; 
    filter:alpha(opacity=60);  
} */

p.description-content{  
    padding:10px;  
    margin:0px;  
} 

.inner-page h1 {
  font-size: 38px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.section1 {
  background-color: #e7efea;
  padding: 60px 40px 60px 40px;
  margin-bottom: 60px;
}

.section1 h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

h4.banco {
  margin-top: 40px;
}

.section1 a {
  font-size: 16px;
  color: #333333;
  text-decoration: none;
}

.section1 a:hover {
  text-decoration: underline;
}

.section1 h3 {
  font-weight: bold;
  color: #18642d;
  font-size: 18px;
}

.section1 p {
  font-size: 16px;
}

.section2 {
  background-color: #e7efea;
  padding: 60px 40px 60px 40px;
  margin-bottom: 140px;
}

.section2 h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.section2 a {
  font-size: 16px;
  color: #333333;
  text-decoration: none;
}

.section2 a:hover {
  text-decoration: underline;
}

.section2 h3 {
  font-weight: bold;
  color: #18642d;
  font-size: 18px;
}

.section2 p {
  font-size: 16px;
}

.breadcrumbs {
  padding-top: 30px;
}

.breadcrumbs span {
  font-size: 14px;
}

.section3 {
  background-color: #e7efea;
  padding: 60px 40px 60px 40px;
  margin-bottom: 140px;
}

.section3 h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.section3 a {
  font-size: 16px;
  color: #333333;
}

.section3 h3 {
  font-weight: bold;
  color: #18642d;
  font-size: 18px;
}

.section3 p {
  font-size: 16px;
}

table {
  background-color: #fff !important;
  border: 1px solid #ddd;
}

table th {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

table th:first-child {
  border-right: 1px solid #fff;
}

table td {
  border: 1px solid #ddd;
  padding: 10px;
}

/*********************************************************************************/
/* Fund Reporting                                                                */
/*********************************************************************************/

.hero:after {
    background: rgba(51, 51, 51, 0.8);
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    content: " ";
    position: absolute;
}

/*.hero-description{  
    position:absolute;   
    bottom:0px;  
    left:380px;  
    width:60%;   
    background-color: transparent;  
    font-family: 'hero_lightlight', sans-serif;  
    font-size:65px;  
    line-height: 70px;
    color:white;  
    opacity:0.8; 
    z-index: 10000;
    filter:alpha(opacity=60); 
} */

.hero-description {
  width: 100%;
  background: transparent;
  position: absolute;
  padding: 20px 0;
  z-index: 10;
  bottom: 80px;
  left: 0;
  text-align: left;
}

.hero-description h2 {
  font-size: 36px;
  color: #fff !important;
}

.hero-description p {
  font-size: 22px;
  line-height: 30px;
  color: #fff !important;
}

.panel {
  margin-top: 50px;
  text-align: center;
  padding: 40px 80px 40px 80px;
  margin-bottom: 50px;
}

.panel h2 {
  text-transform: none;
}

.panel p {
  font-size: 14px;
  padding-bottom: 30px;
}

.btn.blue {
  padding: 14px;
  background-color: #174753;
  color: #fff;
}

a.btn.blue {
  text-decoration: none !important;
}


/*********************************************************************************/
/* Media Queries                                                                 */
/*********************************************************************************/

@media only screen and (max-width: 1280px) {
  div.description {
    left: 60px;
  }
  }

@media only screen and (max-width: 1024px) {
  .nav li a:first-child {
    padding-right: 16px;
  }

  div.description {
    display: none;
  }
  }


 @media only screen and (max-width: 990px) {

    ul.flex-direction-nav {
      display: none;
    }

    .flex-control-nav {
       display: none;
    }

    .lower-header {
      display: none;
    } 

    .menu-btn {
      display: block;
    }

    .search-icon {
      display: none;
    }

    select.language {
      display: none;
    }

    .popolare {
      padding-left: 0px;
      padding-top: 40px;
    }

    .hero {
      display: none;
    }

    .inner-page h3 {
      margin-top: 90px;
      margin-bottom: 20px;
    }

    .latest-funds p a{
      padding-bottom: 20px;
    }

    .flex-caption {
      display: none;
    }

    /********* Home Page **********/
    
    .block1 {
      padding: 10px 10px 40px 10px;
    }

    .block2 {
      padding-bottom: 40px;
    }

    .block2 h6 {
      padding-top: 40px;
    }

    .block4 {
      padding: 0px 0px 10px 0px;
    }

    .launch-img {
      display: none;
    }

    .block3 {
      padding: 40px 0px 40px 0px;
      text-align: center;
    }

    .block3 .feature-image {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    .notice-text {
      padding-left: 15px;
    }

    .notice-heading {
      padding-left: 15px;
    }

    p.caption {
      display: none;
    }

    a.feature-link {
      display: block;
      margin-bottom: 40px;
    }
  }

  @media only screen and (max-width: 768px) {

    .copyright {
      padding-top: 10px;
      padding-bottom: 20px;
    }

    .section2 {
      margin-bottom: 60px;
    }
  }

  @media only screen and (max-width: 640px) {

    #footer h6 {
      padding-top: 30px;
    }

    .popolare {
      padding-left: 40px;
      padding-top: 0px;
    }
  }

  @media only screen and (max-width: 480px) {

    #logo {
      width: 250px;
      height: 36px;
    }

    /********* Inner Page **********/

    .hero {
      display: none;
    }

    .inner-page h3 {
      margin-top: 90px;
      margin-bottom: 20px;
      font-size: 36px;
    }

    .section1 {
      padding: 40px 20px;
    }

    .section2 {
      padding: 40px 20px;
    }
  }